<?xml version="1.0"?>
<config>
    <modules>
        <Xwj_PublishMonitor>
            <version>0.1.0</version>
        </Xwj_PublishMonitor>
    </modules>
    <global>
        <models>
            <xwj_publishmonitor>
                <class>Xwj_PublishMonitor_Model</class>
            </xwj_publishmonitor>
        </models>
        <resources>
            <xwj_publishmonitor_setup>
                <setup>
                    <module>Xwj_PublishMonitor</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </xwj_publishmonitor_setup>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <xwj_publishmonitor_update_published_at>
                        <class>xwj_publishmonitor/observer</class>
                        <method>updatePublishedAt</method>
                    </xwj_publishmonitor_update_published_at>
                </observers>
            </catalog_product_save_before>
            <catalog_product_load_after>
                <observers>
                    <xwj_publishmonitor_lock_published_at_from_admin_panel>
                        <class>xwj_publishmonitor/observer</class>
                        <method>lockPublishedFromAdminPanel</method>
                    </xwj_publishmonitor_lock_published_at_from_admin_panel>
                </observers>
            </catalog_product_load_after>
            <catalog_product_new_action>
                <observers>
                    <xwj_publishmonitor_lock_published_at_from_admin_panel>
                        <class>xwj_publishmonitor/observer</class>
                        <method>lockPublishedFromAdminPanel</method>
                    </xwj_publishmonitor_lock_published_at_from_admin_panel>
                </observers>
            </catalog_product_new_action>
        </events>
    </global>
</config>
